.contacts {
  background-color: @base-bg-color;
}

.contacts__title {
  width: 90px;
  margin-top: 90px;
  margin-left: 30px;
  margin-bottom: 0;
  font-size: @base-font-size + 1px;
  font-weight: @base-font-weight + 300;
  line-height: @base-line-height + 6px;
  color: @base-color;
}

.contacts-info {
  margin-left: 30px;
  margin-right: 30px;
}

.contacts-info__column {
  padding: 0;
  padding-top: 30px;
  font-size: @base-font-size - 2px;
  font-weight: @base-font-weight;
  line-height: @base-line-height + 6px;
  color: @color-gray;
  vertical-align: top;

  &--border {
    border-bottom: 1px solid #62d1ba;
  }

  &--right,
  &--border {
    width: 170px;
  }

  &--left {
    width: 67px;
  }
}

.contacts__map {
  margin-top: 40px;
}

.contacts__write-us {
  .mix-btn-action;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
}
