.form-of-order {
  width: 260px;
  margin: @base-margin;
  background-color: @base-bg-color;
}

.form-of-order__text {
  margin-top: 28px;
  font-size: @base-font-size - 4px;
  font-weight: @base-font-weight;
  line-height: @base-line-height;
  color: @color-gray;
}

.visually-hidden {
  .mix-visually-hidden;
}
