.page-header {
  background-color: @base-bg-color;
}

.page-header__logo {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
  display: block;
}

.page-header__logo-image {
  padding-left: 100px;
}
