.section-toys {
  width: @base-mobile-width;
  height: 415px;
  margin: @base-margin;
  padding-top: 70px;
  background-color: #f8f8f8;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: -125px -15px;
  background-repeat: no-repeat;
}

.section-toys__heading {
  width: 246px;
  margin: @base-margin;
  text-align: center;
  font-size: @base-font-size + 10px;
  line-height: @base-line-height + 6px;
}

.section-toys__list {
  .mix-list;
  margin-top: 125px;
}

.section-toys__item {
  height: 103px;
  padding-left: 30px;
  background-color: @color-turquoise;
  position: relative;

  &:hover {
    height: 108px;
    margin-top: -5px;
  }

  &:hover::after  {
    opacity: 0.7;
  }

  &:active::after,
  &:active .section-toys__item-link {
    opacity: 0.3;
  }

  &--bg-lightgreen::after {
    content: url(../img/icon-interior.svg);
    width: 40px;
    height: 62px;
    top: 24px;
    right: 35px;
    position: absolute;
    opacity: 0.5;
  }

  &--bg-color {
    background-color: #56c3b2;
  }

  &--bg-color::after {
    content: url(../img/icon-toy.svg);
    width: 60px;
    height: 60px;
    top: 20px;
    right: 27px;
    position: absolute;
    opacity: 0.5;
  }
}

.section-toys__item-link {
  .mix-toys-link;
  display: block;
  padding: 28px 0;
}

@media (min-width: @base-tablet-width) {
  .section-toys {
    min-width: @base-tablet-width;
    height: 677px;
  }

  .section-toys__heading {
    width: 510px;
    margin-top: 100px;
    margin-bottom: 360px;
    font-size: @base-font-size + 26px;
    line-height: @base-line-height + 26px;
  }

  .section-toys__list {
    width: 668px;
    margin-left: 50px;
    display: flex;
  }

  .section-toys__item {
    width: 100%;
    height: 120px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: 0 103px;

    &--bg-lightgreen {
      background-position: -10px 103px;
    }

    &:hover {
      height: 125px;
    }

  }

  .section-toys__item-link {
    font-size: @base-font-size + 3px;
    line-height: @base-line-height + 6px;
  }
}

@media (min-width: @base-desktop-width) {
  .section-toys {
    min-width: @base-desktop-width;
  }

  .section-toys__heading {
    width: 615px;
    font-size: @base-font-size + 36px;
    line-height: @base-line-height + 33px;
  }

  .section-toys__list {
    width: 1050px;
    margin-left: 50px;
    display: flex;
  }

  .section-toys__item {
    width: 100%;

    &--bg-lightgreen {
      background-position: -48px 103px;
    }
  }
}
