.site-list {
  .mix-list;
  background-color: @base-bg-color;
  padding-left: 0;
  display: block;
}

.site-list__item {
  padding: 20px;
  font-weight: @base-font-weight + 300;
  border-bottom: 1px solid #ececec;
}

.site-list__item-link {
  .mix-item-link;
}
