.toys-manufacture {
  width: 258px;
  margin: @base-margin;
  margin-top: 30px;
  margin-bottom: 38px;
  background-color: @base-bg-color;
  border: 1px solid #ececec;
}

.toys-manufacture__title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: @base-font-size;
  font-weight: @base-font-weight + 300;
  line-height: @base-line-height;
  padding-left: 85px;
}

.toys-manufacture__image {
  width: 260px;
  position: relative;

  &::before {
    content: url("../img/icon-play.svg");
    position: absolute;
    width: 101px;
    height: 77px;
    top: 37px;
    left: 80px;
  }
}

.toys-manufacture__text {
  margin-bottom: 0;
  font-size: @base-font-size - 4px;
  font-weight: @base-font-weight;
  line-height: @base-line-height;
  color: @color-gray;
  padding-left: 35px;
}

.toys-manufacture__link-order {
  .mix-btn-action;
  width: 190px;
  margin: 31px auto;
}

@media (min-width: @base-tablet-width) {
  .toys-manufacture {
    width: @base-tablet-width - 100px;
    margin-top: 252px;
    margin-bottom: 65px;
    position: relative;
  }

  .toys-manufacture__title {
    padding-left: 105px;
    font-size: @base-font-size + 3px;
  }

  .toys-manufacture__image {
    position: absolute;
    top: -170px;
    left: 0;
  }

  .toys-manufacture__text {
    width: 560px;
    padding-left: 40px;
    padding-right: 45px;
    font-size: @base-font-size - 2px;
    line-height: @base-line-height + 6px;
  }

  .toys-manufacture__text br {
    display: none;
  }

  .toys-manufacture__link-order {
    width: 560px;
  }
}

@media (min-width: @base-desktop-width) {
  .toys-manufacture {
    width: 290px;
    margin-top: 55px;
    margin-bottom: 105px;
    margin-right: 50px;
    padding-left: 78px;
  }

  .toys-manufacture__title {
    width: 200px;
    margin-top: 95px;
    padding-left: 0;
    margin-bottom: 37px;
  }

  .toys-manufacture__image {
    position: absolute;
    top: 0;
    left: -260px;
    margin: 0;
  }

  .toys-manufacture__text {
    width: 250px;
    padding-left: 0;
  }

  .toys-manufacture__link-order {
    width: 208px;
    margin-top: 56px;
    margin-left: 0;
    margin-bottom: 56px;
  }
}
